# Editors
.buildpath
.project
.settings*
sftp-config.json
.idea

# Grunt
node_modules/
deploy/
npm-debug.log

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Logs
package-lock.json

# Languages
languages/

# Composer
composer.lock
vendor/
